.vscode/**
.vscode-test/**
.github/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
out/test/**
scripts/**
package-lock.json
*.vsix
output.txt
coverage/**
*.tsbuildinfo
LICENSE.md
node_modules/**/test/**
node_modules/**/tests/**
node_modules/**/doc/**
node_modules/**/docs/**
node_modules/**/example/**
node_modules/**/examples/**
node_modules/**/coverage/**
node_modules/**/.github/**
node_modules/**/*.md
